/* Supprime les puces des listes pour que les éléments de navigation ne ressemblent pas à une liste classique */
nav ul {
  list-style: none; 
  display: flex; /* Affiche les éléments en ligne (horizontalement) */
  gap: 20px; /* Espacement de 20px entre chaque élément */
}

/* Chaque élément <li> est affiché en ligne (au cas où "display: flex" ne s'applique pas directement) */
nav li {
  display: inline;
}

/* Style des liens de navigation */
nav a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: #151217; /* Définit la couleur du texte */
  font-weight: bold; /* Met le texte en gras */
  cursor: pointer; /* Affiche le curseur "main" pour indiquer qu'il s'agit d'un élément cliquable */
}

/* Effet au survol des liens */
nav a:hover {
  color: #DA001E; /* Change la couleur du texte en rouge foncé lors du survol */
}

nav {
  width: 100%; /* Occupe toute la largeur */
}

header {
  background-color: #F9D0A3;
  color: white;
  display: flex; /* Active le mode flexbox */
  align-items: center; /* Aligne verticalement les éléments */
  width: 100%; /* Occupe toute la largeur */
  position: fixed; /* Fixe le header en haut de la page */
  top: 0; /* Place le header tout en haut */
  left: 0; /* Assure qu'il commence depuis le bord gauche */
}

img {
  display: flex;
  flex-direction: row ;
  align-self: center;
  width: 80px;
  height: 80px;
  border-radius: 30%;
  margin: 10px;
}

/* BOUTON BURGER caché sur grand écran */
.burger {
  display: none; /* Caché par défaut */
  font-size: 2em;
  background: none;
  border: none;
  color: #151217;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 759px) {
  nav {
    display: none;
    position: absolute;
    top: 100px; /* Sous le header */
    right: -10px; /* Collé à droite */
    width: auto;
    background-color: #F9D0A3;
    padding: 10px;
    margin: 0 10px 10px 0;
    text-align: center; /* Texte aligné à droite */
  }

  nav.open {
    display: block; /* Affiche la navigation */
  }

  nav ul {
    flex-direction: column; /* Affiche les éléments en colonne (verticalement) */
    gap: 10px;
    width: 100%; /* Utiliser toute la largeur */
    align-items: center; /* Centre horizontalement les liens */
    padding-left: 0px; /* Supprime le décalage à gauche */
  }

  nav li {
    display: block;
  }

  .burger {
    display: block;
    font-size: 2em;
    background: #151217;
    border: solid 2px #FDD90B ; 
    border-radius: 25%;
    color: #DA001E;
    cursor: pointer;
    padding: 0px 8px 4px 8px;
    margin-left: auto; /* Pousse le burger complètement à droite */
    margin-right: 10px; /* Ajoute un espace à droite */
  }
}
