<footer>
    <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
          <li><a routerLink="/about" routerLinkActive="active">À propos</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </nav>
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/icons/facebook.png" alt="Facebook">
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="assets/icons/twitter.png" alt="Twitter">
      </a>
      <a href="https://www.discord.com" target="_blank">
        <img src="assets/icons/discord.png" alt="discord">
      </a>
    </div>
</footer>
