.Presentation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #151217;
  color: white;
}

.Presentation img {
  flex: 1; /* Permet à l’image de prendre une partie flexible de l’espace */
  max-width: 200px; /* Largeur max pour éviter que l’image soit trop grande */
  height: auto; /* Garde le ratio de l’image */
  border-radius: 10% 0% 0% 10%;
  margin: 0;
  object-fit: cover; /* Remplit sans déformer */
}

.ImgProduit {
  margin: 10px 0px 0px 10px;
  width: 150px;
  height: 150px;
  border-radius: 30%;
}

.produit {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #151217;
  color: white;
  border : 5px solid #FDD90B ;
  border-radius: 10px;
}

.produit h2 {
  margin: 5px;
  padding: 5px;
  font-size: 1.5em;
  color: #DA001E;
}

.produit p {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  color: white;
}

.produit a {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  color: #FDD90B;
  text-decoration: none;
}