.Presentation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #151217;
  color: white;
}

.Presentation img {
  flex: 1; /* Permet à l’image de prendre une partie flexible de l’espace */
  max-width: 200px; /* Largeur max pour éviter que l’image soit trop grande */
  height: auto; /* Garde le ratio de l’image */
  border-radius: 10% 0% 0% 10%;
  margin: 0;
  object-fit: cover; /* Remplit sans déformer */
}

.ImgProduit {
  margin: 10px 0px 0px 10px;
  width: 150px;
  height: 150px;
  border-radius: 30%;
}

.produit {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #151217;
  color: white;
  border : 5px solid #F9D0A3 ;
  border-radius: 10px;
}

.produit h2 {
  margin: 5px;
  padding: 5px;
  font-size: 1.5em;
  color: #DA001E;
}

.produit p {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  color: white;
}

.produit a {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  color: #FDD90B;
  text-decoration: none;
}

label {
  color: #DA001E;
}

.buttonBasDePage {
  background-color: #FDD90B;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
/* Media query : s'applique pour une largeur de 759px ou moins */
@media (max-width: 759px) {
  .Presentation {
    flex-direction: column; /* Les éléments se placent de haut en bas */
    text-align: center; /* Centrer le texte si besoin */
  }

  .Presentation img {
    border-radius: 10% 10% 0 0; /* Arrondir le bas de l'image pour le style */
    margin-top: 10px; /* Un petit espace entre le texte et l'image */
  }
  .produit {
    flex-direction: column; /* Les éléments se placent en colonne */
    text-align: center; /* Centrer le contenu */
  }

  .produit img {
    margin: 10px auto; /* Centrer l’image */
  }

  .prouidtInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .produit h2 {
    order: -1; /* Place le titre tout en haut */
    margin-top: 10px;
  }

  .produit a {
    margin-top: 10px; /* Espace entre le texte et le lien */
  }
}
